.about {
  margin-bottom: 132px;
  justify-content: space-between;


  &__about-img {
    max-width: 475px;
    max-height: 564px;
    height: 564px;

  }

  &__descr {
    padding: 35px 0 98px 95px;

    text-align: left;
  }

  &__caption {
    max-width: 540px;
    padding-bottom: 27px;
  }

  &__text {
    max-width: 445px;
    opacity: 0.7;
    padding: 0 0 18px 0;
  }

  &__user {
    padding-top: 41px;
  }

  &__expert {
    opacity: 0.7;
  }

  &__name {
    font-size: 22px;
    font-weight: 500;
  }

  &__wrap {
    margin-top: 6px;
    font-weight: 400;
    padding-left: 30px;
    font-size: 18px;
  }

  &__avatar {
    border-radius: 28px;
    background-color: var(--color-metall);
  }

}
