.clients {
  padding-top: 101px;
  background-color: var(--color-white);

  &__wrapper {

    justify-content: space-between;
  }

  &__txt {
    opacity: 0.7;
    max-width: 445px;
    margin-bottom: 56px;
  }

  &__cap {
    margin-bottom: 12px;
  }

  &__worked {

    margin-bottom: 20px;
  }

}

.xiaomi {
  cursor: pointer;
  opacity: 0.15;
  width: 80px;
  height: 63px;
  background-image: url("../img/xiaomi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .4s;

  &:hover {
    opacity: 1;
    transition: all .4s;
  }

}

.tinder {
  cursor: pointer;
  opacity: 0.15;
  width: 52px;
  height: 69px;
  background-image: url("../img/tinder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .4s;

  &:hover {
    opacity: 1;
    transition: all .4s;
  }

}

.apple {
  cursor: pointer;
  opacity: 0.15;
  width: 56px;
  height: 68px;
  background-image: url("../img/apple.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .4s;

  &:hover {
    opacity: 1;
    transition: all .4s;
  }

}

.nike {
  cursor: pointer;
  opacity: 0.15;
  width: 145.45px;
  height: 50px;
  background-image: url("../img/nike.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .4s;

  &:hover {
    opacity: 1;
    transition: all .4s;
  }

}

.amd {
  cursor: pointer;
  opacity: 0.15;
  width: 60px;
  height: 60px;
  background-image: url("../img/amd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .4s;

  &:hover {
    opacity: 1;
    transition: opacity .4s;
  }

}

.clients-swiper {
  padding-bottom: 137px;
}

// .clients-swiper {
//   padding-bottom: 137px;
// }
