.hero {
  margin-top: 142px;
  margin-bottom: 137px;
  height: 840px;

  &__container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }


  &__get-started {
    margin-top: 67px;
    margin-bottom: 185px;
    max-width: 48%;
  }

  &__placeholder-bg {
    position: absolute;
    left: 51%;
    width: 56%;
    min-height: 840px;

    background-image: url("../img/hero-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
    padding-bottom: 30px;
  }

  &__descr {
    opacity: 0.7;
    max-width: 462px;
    padding-bottom: 56px;
  }

  &__video {
    position: relative;
  }

  // background-size: cover;

}

.swiper-loader {
  overflow: hidden;
  position: absolute;
  top: 12%;
  left: 60.5%;
  transform: translate(-57%, -80%);
  width: 400px;
  height: 310px;
  // background-image: url("../img/redwall.jpg");
  transition-duration: .1s;
  transition: all .3s;

  &__img {
    height: 310px;
  }

  &__btn {
    padding-top: 7px;
    padding-right: 1px;
    position: absolute;
    top: 49.6%;
    left: 50.2%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    background-color: var(--color-white);
    transition: all .3s;

    svg {
      fill: var(--color-red);
      transition: all .3s;
    }

    &:hover svg {
      fill: var(--color-blue);
      transition: all .3s;
    }
  }
}

.loader {
  width: 346px;
  justify-content: space-between;

  &__wrapper {
    display: block;
    height: 15px;
    width: 278px;
    position: relative;
  }


  &__line {
    width: 278px;
    height: 2px;
    background-color: var(--color-beards);
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    &_selected {
      position: absolute;
      display: block;
      z-index: 2;
      bottom: 0px;
      width: 139px;
      height: 2px;
      background-color: var(--color-wood);
    }
  }

  &__video {
    width: 100%;
  }


}
