.works {

  &__container {

    .tag {

      margin-bottom: 35px;

    }

  }

  &__heading {
    justify-content: space-between;
  }

  margin-bottom: 248px;

  &__nav {
    margin-right: 5px;
    max-width: 45%;
  }

  &__title {
    display: inline-block;
    margin-bottom: 108px;
  }
}

.nav {

  &__item {
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    display: inline-block;

    &:not(:last-child) {
      padding-right: 22px;
    }
  }

  &__link {
    color: var(--color-darkgray);
    opacity: 0.3;
    transition-duration: .1s;
    transition: all .3s;

    &:hover {
      font-weight: 500;
      color: var(--color-blue);
      opacity: 1;
      transition: all .3s;
    }
  }
}

.gallery {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;


  &__btn {
    padding-top: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    background-color: var(--color-white);
    opacity: 0;
    transition: all .3s ease-in-out;


    svg {
      fill: var(--color-red);
      transition: all .3s;
    }

    &:hover svg {
      fill: var(--color-blue);
      transition: all .3s;
    }
  }


  &__item {
    width: 31.5%;
    max-height: 450px;
    margin: 0 2.7% 2.6% 0;
    overflow: hidden;
    position: relative;
    font-size: 0;
    transition: all .3s;

    &:hover {
      transform: translateY(-20px);
      transition: all .45s;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover .gallery__btn {
      opacity: 1;
      transition: all .45s;
    }

  }

}

.our-works {
  margin-top: 20px;
  justify-content: space-between;

  &__txt {
    max-width: 66%;

  }

  &__btn {
    max-width: 30%;
  }

}
