<section class="about">
  <div class="container flex about__container">
    <img class="about__about-img" src="./img/about-img.jpg" alt="картинка">
    <section class="about__descr">
      <h2 class="about__caption caption">
        We&nbsp;solve&nbsp;digital&nbsp;problems&nbsp;with an outstanding creative flare
      </h2>
      <p class="about__text">
        The best time to view the moon, obviously, is at night when there are few clouds and the weather is
        accommodating for a long and lasting study.
      </p>
      <p class="about__text">
        For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing
        magnificent displays in the heavens.
      </p>
      <div class="about__user flex">
        <img src="./img/avatar.jpg" alt="фото" class="about__avatar">
        <div class="about__wrap">
          <h4 class="about__name">Denis Shepovalov</h4>
          <p class="about__expert">Co-Founder & CEO</p>
        </div>
      </div>
    </section>
  </div>
</section>
