<section class="clients">
  <div class="container clients__container">
    <div class="clients__wrapper flex">
      <h2 class="clients__title caption">Our Clients</h2>
      <div class="clients__worked">
        <p class="clients__cap tag">&ndash;&nbsp;We worked with</p>
        <p class="clients__txt">Our favorite brands are our friends! We help them to achieve their goals, they
          help us to stay sharp.</p>
      </div>
    </div>
    <div class="clients-swiper">
      <div class="swiper-wrapper flex">
        <div class="swiper-slide xiaomi"></div>
        <div class="swiper-slide tinder"></div>
        <div class="swiper-slide apple"></div>
        <div class="swiper-slide nike"></div>
        <div class="swiper-slide amd"></div>
        <div class="swiper-slide xiaomi"></div>
        <div class="swiper-slide tinder"></div>
        <div class="swiper-slide apple"></div>
        <div class="swiper-slide nike"></div>
        <div class="swiper-slide amd"></div>
      </div>
    </div>
  </div>
</section>
