<section class="features">
	<img class="features__background" src="../img/features-background.jpg" alt="картинка">
	<div class="container flex features__container">
	  <div class="features__foto">
	    <img src="./img/2features-img.jpg" alt="красота" class="features__img">
	  </div>
	  <div class="features__text-side">
	    <h2 class="features__title caption">Well thought with super easy to use</h2>
	    <p class="features__text">As we approached the palace I could see through the great windows of the first floor the
	      brilliantly illuminated audience chamber of Than Kosis. The immense hall was crowded with nobles and their women.
	    </p>
	    <article class="options">
	      <ul class="options__list">
	        <li class="options__items options__items_hundread">Ultimate result</li>
	        <li class="options__items options__items_bag ">Minimal design</li>
	      </ul>
	    </article>
	  </div>
	</div>
</section>
