<header class="header">
  <div class="container flex header__container">
    <div class="menu">
      <button class="menu__close btn--reset" type="button" aria-label="close menu">
        <span class="menu__close-line"></span>
        <span class="menu__close-line"></span>
      </button>
      <nav class="menu__nav">
        <ul class="menu__list flex">
          <li class="menu__item"><a href="#" class="menu__link">About Us</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Services</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Our Works</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Testimonials</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Our Clients</a></li>
        </ul>
      </nav>
    </div>
    <a class="header__logo logo">Gravity</a>
    <form class="header__search search" action="/">
      <input class="input" type="text">
      <svg viewBox="0 0 900 100" class="magnifying-glass">
        <path class="magnifying-glass-path"
          d="m 59.123035,59.123035 c -10.561361,10.56136 -27.684709,10.56136 -38.24607,0 -10.56136,-10.561361 -10.56136,-27.684709 0,-38.24607 10.561361,-10.56136 27.684709,-10.56136 38.24607,0 10.56136,10.561361 10.56136,27.684709 0,38.24607 l 28.876965,28.876965 c 6.304625,7.101523 5.754679,-0.187815 13.07143,-0.5 h 582.04101" />
        <path class="x"
          d="m 673.46803,25.714286 -37.17876,38.816532 c 0,0 -5.08857,5.60515 -5.68529,11.841734 -1.06622,11.143538 13.02902,11.127448 13.02902,11.127448" />
        <path class="x"
          d="m 635.08021,25.714286 37.17876,38.816532 c 0,0 5.08857,5.60515 5.68529,11.841734 1.06622,11.143538 -13.02902,11.127448 -13.02902,11.127448" />
      </svg>
      <div class="overlay overlay-1"></div>
      <div class="overlay overlay-2"></div>
    </form>
    <button class="header__burger burger btn--reset" aria-label="open menu">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
