<section class="hero">
  <div class="container flex hero__container">
    <section class="hero__get-started">
      <h1 class="hero__title">Work around you and your team</h1>
      <p class="hero__descr">From ads that dance or&nbsp;sing to&nbsp;MTV-like commercials, online advertisers are now
        using a&nbsp;new type of technology &quot;rich media&quot; to&nbsp;attract consumers.</p>
      <button class="hero__btn btn--reset btn">Get started</button>
    </section>
    <div class="hero__placeholder-bg">
    </div>
    <section class="hero__video">
      <div class="loader flex">
        <span class="loader__page loader__page_prev">01</span>
        <div class="loader__wrapper">
          <span class="loader__line_selected"></span>
          <span class="loader__line"></span>
        </div>
        <span class="loader__page loader__page_next">03</span>
      </div>
      <div class="swiper-loader">
        <div class="swiper-wrapper">
          <div class="swiper-slide main-slider__media">

            <video src="/videos/Purpleyellow.mp4" muted playsinline></video>
            <button class="swiper-loader__btn playBtn btn--reset">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
              </svg>
            </button>

          </div>
          <div class="swiper-slide main-slider__media">

            <video src="/videos/Rivermountains.mp4" muted playsinline></video>
            <button class="swiper-loader__btn playBtn btn--reset">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
              </svg>
            </button>

          </div>
          <div class="swiper-slide main-slider__media">

            <video src="/videos/Stop.mp4" muted playsinline></video>
            <button class="swiper-loader__btn playBtn btn--reset">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
              </svg>
            </button>

          </div>
        </div>
      </div>
    </section>
  </div>
</section>
