<section class="services">
  <div class="container services__container">
    <div class="tag">&ndash; Services</div>
    <div class="services__band flex">
      <h2 class="services__title caption">We love work hard and explore new things that’s why we cover lot of things.
        Check our service list and view details</h2>
      <nav class="sub-nav">
        <ul class="sub-nav__list flex">
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Multimedia</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Interactive design</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Packaging</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Branding</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Creative Strategy</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">UI/UX</a>
          </li>
          <li class="sub-nav__item">
            <a href="#" class="sub-nav__link">Coding</a>
          </li>
        </ul>
      </nav>
    </div>
    <section class="services-videos services-videos__container">
      <div class="flex swiper-container swiper-container__services">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide-1">

            <button class="swiper-loader__btn btn--reset">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
              </svg>
            </button>
          </div>
          <div class="swiper-slide slide-2">

            <button class="swiper-loader__btn btn--reset">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
              </svg>
            </button>
          </div>
          <div class="swiper-slide slide-3">

            <button class="swiper-loader__btn btn--reset">
              <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
              </svg>
            </button>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <div class="swiper-button-prev services__btn-prev"></div>
    <div class="swiper-button-next services__btn-next"></div>
  </div>
</section>
