<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials-swiper">
      <div class="swiper-wrapper">
        <div class="testimonials__wrapper flex swiper-slide">
          <div class="testimonials__description flex">
            <div class="testimonials__tag tag">&ndash; Testimonials</div>
            <h2 class="testimonials__title caption">"Professionals in their craft! All products were super great with
              strong
              attention to details, and overall vibe"</h2>
            <p class="testimonials__personality">Polina Kuzina</p>
            <p class="testimonials__spec">Manager at Craftwork</p>
          </div>
          <div class="testimonials__avatar-1">
          </div>
        </div>
        <div class="testimonials__wrapper flex swiper-slide">
          <div class="testimonials__description flex">
            <div class="testimonials__tag tag">&ndash; Testimonials</div>
            <h2 class="testimonials__title caption">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
              corrupti dolores."</h2>
            <p class="testimonials__personality">Name Surname</p>
            <p class="testimonials__spec">Manager at Craftwork</p>
          </div>
          <div class="testimonials__avatar-2">
          </div>
        </div>
        <div class="testimonials__wrapper flex swiper-slide">
          <div class="testimonials__description flex">
            <div class="testimonials__tag tag">&ndash; Testimonials</div>
            <h2 class="testimonials__title caption">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
              labore quod asperiores atque. Quis."</h2>
            <p class="testimonials__personality">Name Surname</p>
            <p class="testimonials__spec">Manager at Craftwork</p>
          </div>
          <div class="testimonials__avatar-3">
          </div>
        </div>

      </div>
      <div class="swiper-button-prev testimonials__btn-prev"></div>
      <div class="swiper-button-next testimonials__btn-next"></div>
    </div>
  </div>
</section>
