<section class="works">
  <div class="container works__container">
    <div class="tag">&ndash; Our works</div>
    <div class="works__heading flex">
      <h2 class="works__title caption">Discover our Work</h2>
      <nav class="works__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">All</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Branding</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Web</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Development</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Films</a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="gallery gallery__list flex">
      <li class="gallery__item">
        <img src="./img/number1.png" alt="фото1" class="gallery__image">
        <button class="gallery__btn playBtn btn--reset">
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
          </svg>
        </button>
      </li>
      <li class="gallery__item">
        <img src="./img/number2.png" alt="фото2" class="gallery__image">
        <button class="gallery__btn playBtn btn--reset">
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
          </svg>
        </button>
      </li>
      <li class="gallery__item">
        <button class="gallery__btn playBtn btn--reset">
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
          </svg>
        </button>
        <img src="./img/number3.png" alt="фото3" class="gallery__image">
      </li>
      <li class="gallery__item">
        <button class="gallery__btn playBtn btn--reset">
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
          </svg>
        </button>
        <img src="./img/number4.png" alt="фото4" class="gallery__image">
      </li>
      <li class="gallery__item">
        <button class="gallery__btn playBtn btn--reset">
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
          </svg>
        </button>
        <img src="./img/number5.png" alt="фото5" class="gallery__image">
      </li>
      <li class="gallery__item">
        <button class="gallery__btn playBtn btn--reset">
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.697 8.84848L0.924232 17.3775L0.924232 0.319446L15.697 8.84848Z" />
          </svg>
        </button>
        <img src="./img/number6.png" alt="фото6" class="gallery__image">
      </li>
    </ul>
    <div class="our-works flex">
      <p class="our-works__txt">It picks up the words on the page and displays ads that are similar to those words. Then
        when someone either performs an action or clicks on your page you will get paid.</p>
      <button class="our-works__btn btn btn--reset">See our works</button>
    </div>
  </div>
</section>
